* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', 'Inter', Verdana, sans-serif;
    line-height: 1.5;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #6a994e;
}

.bold {
    font-weight: bold;
    color: #6a994e;
}

#logo {
    border-radius: 50%;
    background-color: rgb(106 153 78 / 0.2);
    padding: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
